*dependency-reduced-pom.xml
BrokerStartup.java
NamesrvStartup.java
.classpath
.project
.settings/
target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
